In [2]:
import numpy as np
import pandas as pd

In [4]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [10]:
dates = pd.date_range('20180227', periods=6)
dates

DatetimeIndex(['2018-02-27', '2018-02-28', '2018-03-01', '2018-03-02',
               '2018-03-03', '2018-03-04'],
              dtype='datetime64[ns]', freq='D')

In [11]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2018-02-27 -0.132690 -0.198666  0.148779 -0.517137
2018-02-28 -0.533898  0.841986 -0.726105  0.111035
2018-03-01 -1.274616  1.512550 -1.199580  0.143994
2018-03-02 -0.077891  0.920499  0.257005 -0.993725
2018-03-03 -0.254549  0.897376  2.175093 -0.106682
2018-03-04  1.404089 -0.102145  1.343167 -1.968997

In [17]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [18]:
df.head()

                   A         B         C         D
2018-02-27 -0.132690 -0.198666  0.148779 -0.517137
2018-02-28 -0.533898  0.841986 -0.726105  0.111035
2018-03-01 -1.274616  1.512550 -1.199580  0.143994
2018-03-02 -0.077891  0.920499  0.257005 -0.993725
2018-03-03 -0.254549  0.897376  2.175093 -0.106682

In [20]:
df.tail(3)

                   A         B         C         D
2018-03-02 -0.077891  0.920499  0.257005 -0.993725
2018-03-03 -0.254549  0.897376  2.175093 -0.106682
2018-03-04  1.404089 -0.102145  1.343167 -1.968997

In [23]:
df.index

DatetimeIndex(['2018-02-27', '2018-02-28', '2018-03-01', '2018-03-02',
               '2018-03-03', '2018-03-04'],
              dtype='datetime64[ns]', freq='D')

In [24]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [26]:
df.to_numpy()

array([[-0.13269013, -0.19866576,  0.14877856, -0.51713728],
       [-0.53389805,  0.84198638, -0.72610477,  0.11103465],
       [-1.27461622,  1.51255037, -1.19958016,  0.14399419],
       [-0.07789077,  0.92049904,  0.25700511, -0.99372526],
       [-0.25454935,  0.89737593,  2.17509266, -0.10668241],
       [ 1.40408937, -0.1021453 ,  1.34316662, -1.96899712]])

In [27]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [28]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.144926  0.645267  0.333060 -0.555252
std    0.876768  0.663481  1.258885  0.815657
min   -1.274616 -0.198666 -1.199580 -1.968997
25%   -0.464061  0.133888 -0.507384 -0.874578
50%   -0.193620  0.869681  0.202892 -0.311910
75%   -0.091591  0.914718  1.071626  0.056605
max    1.404089  1.512550  2.175093  0.143994

In [29]:
df.T

   2018-02-27  2018-02-28  2018-03-01  2018-03-02  2018-03-03  2018-03-04
A   -0.132690   -0.533898   -1.274616   -0.077891   -0.254549    1.404089
B   -0.198666    0.841986    1.512550    0.920499    0.897376   -0.102145
C    0.148779   -0.726105   -1.199580    0.257005    2.175093    1.343167
D   -0.517137    0.111035    0.143994   -0.993725   -0.106682   -1.968997

In [30]:
df['A']

2018-02-27   -0.132690
2018-02-28   -0.533898
2018-03-01   -1.274616
2018-03-02   -0.077891
2018-03-03   -0.254549
2018-03-04    1.404089
Freq: D, Name: A, dtype: float64

In [34]:
df[0:3]

                   A         B         C         D
2018-02-27 -0.132690 -0.198666  0.148779 -0.517137
2018-02-28 -0.533898  0.841986 -0.726105  0.111035
2018-03-01 -1.274616  1.512550 -1.199580  0.143994

In [36]:
df

                   A         B         C         D
2018-02-27 -0.132690 -0.198666  0.148779 -0.517137
2018-02-28 -0.533898  0.841986 -0.726105  0.111035
2018-03-01 -1.274616  1.512550 -1.199580  0.143994
2018-03-02 -0.077891  0.920499  0.257005 -0.993725
2018-03-03 -0.254549  0.897376  2.175093 -0.106682
2018-03-04  1.404089 -0.102145  1.343167 -1.968997

In [37]:
df.loc[dates[0]]

A   -0.132690
B   -0.198666
C    0.148779
D   -0.517137
Name: 2018-02-27 00:00:00, dtype: float64

loc 通过标签获取数据  
iloc 通过下标获取数据  
at 快速访问标量，按标签访问  
iat 快速访问标量，按下标访问

In [45]:
df.loc[dates[0], 'A']
df.loc[:, ['A','B']]
df.at[dates[0], 'A']

-0.1326901291752416

In [47]:
df.iloc[3]

A   -0.077891
B    0.920499
C    0.257005
D   -0.993725
Name: 2018-03-02 00:00:00, dtype: float64

In [49]:
df.iloc[3:5, 0:2]

                   A         B
2018-03-02 -0.077891  0.920499
2018-03-03 -0.254549  0.897376

In [50]:
df.iloc[[1,3,4], [0,2]]

                   A         C
2018-02-28 -0.533898 -0.726105
2018-03-02 -0.077891  0.257005
2018-03-03 -0.254549  2.175093

In [53]:
df.iloc[1:3, :]

                   A         B         C         D
2018-02-28 -0.533898  0.841986 -0.726105  0.111035
2018-03-01 -1.274616  1.512550 -1.199580  0.143994

In [55]:
df.iloc[:, 1:3]

                   B         C
2018-02-27 -0.198666  0.148779
2018-02-28  0.841986 -0.726105
2018-03-01  1.512550 -1.199580
2018-03-02  0.920499  0.257005
2018-03-03  0.897376  2.175093
2018-03-04 -0.102145  1.343167

In [58]:
df.iloc[1,1]

0.8419863800572258

In [60]:
df[df.A > 0]
df[df > 0]

                   A         B         C         D
2018-02-27       NaN       NaN  0.148779       NaN
2018-02-28       NaN  0.841986       NaN  0.111035
2018-03-01       NaN  1.512550       NaN  0.143994
2018-03-02       NaN  0.920499  0.257005       NaN
2018-03-03       NaN  0.897376  2.175093       NaN
2018-03-04  1.404089       NaN  1.343167       NaN

In [61]:
pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20130102', periods=6))

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [65]:
df.at[dates[0], 'A'] = 0
df.iat[0, 1] = 0
df.loc[:, 'D'] = np.array([5] * len(df))
df

                   A         B         C  D
2018-02-27  0.000000  0.000000  0.148779  5
2018-02-28 -0.533898  0.841986 -0.726105  5
2018-03-01 -1.274616  1.512550 -1.199580  5
2018-03-02 -0.077891  0.920499  0.257005  5
2018-03-03 -0.254549  0.897376  2.175093  5
2018-03-04  1.404089 -0.102145  1.343167  5

In [68]:
df2 = df.copy()
df2[df > 0] = -df2
df2

                   A         B         C  D
2018-02-27  0.000000  0.000000 -0.148779 -5
2018-02-28 -0.533898 -0.841986 -0.726105 -5
2018-03-01 -1.274616 -1.512550 -1.199580 -5
2018-03-02 -0.077891 -0.920499 -0.257005 -5
2018-03-03 -0.254549 -0.897376 -2.175093 -5
2018-03-04 -1.404089 -0.102145 -1.343167 -5

In [70]:
df.mean(1)

2018-02-27    1.287195
2018-02-28    1.145496
2018-03-01    1.009588
2018-03-02    1.524903
2018-03-03    1.954480
2018-03-04    1.911278
Freq: D, dtype: float64

In [72]:
df = pd.DataFrame(np.random.randn(10,4))
df

          0         1         2         3
0  0.556235 -0.448470 -0.382139  0.489722
1 -0.585111  0.803604  1.715455  0.063911
2 -0.491676 -0.652048 -0.108036 -0.495264
3 -1.823509  0.056368  1.773168 -2.026296
4 -1.853878  0.016984 -0.964715  0.235481
5 -0.153390  0.045433  0.084511  0.601562
6 -0.506938  0.318574  0.730089 -1.053894
7 -0.886038 -0.369934  0.137029 -1.306910
8  1.338183  0.216528 -0.822229  0.476874
9  0.636925  1.149861  1.742316 -0.457223