In [1]:
import numpy as np
import pandas as pd

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
dates = pd.date_range('20180227', periods=6)
dates

DatetimeIndex(['2018-02-27', '2018-02-28', '2018-03-01', '2018-03-02',
               '2018-03-03', '2018-03-04'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2018-02-27 -1.015393 -0.010460 -0.675657 -0.644284
2018-02-28 -0.167457  1.519318 -0.575699  0.922035
2018-03-01 -1.123701  0.361944  0.032728 -0.093272
2018-03-02  0.679019 -0.359183  0.488338 -1.175956
2018-03-03  0.842802 -1.527014  0.377715  0.186068
2018-03-04 -0.352395  0.547825  0.364325 -0.756969

In [5]:
df2 = pd.DataFrame({'A': 1.,
                    'B': pd.Timestamp('20130102'),
                    'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                    'D': np.array([3] * 4, dtype='int32'),
                    'E': pd.Categorical(["test", "train", "test", "train"]),
                    'F': 'foo'})
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [18]:
df.head()

                   A         B         C         D
2018-02-27 -0.132690 -0.198666  0.148779 -0.517137
2018-02-28 -0.533898  0.841986 -0.726105  0.111035
2018-03-01 -1.274616  1.512550 -1.199580  0.143994
2018-03-02 -0.077891  0.920499  0.257005 -0.993725
2018-03-03 -0.254549  0.897376  2.175093 -0.106682

In [20]:
df.tail(3)

                   A         B         C         D
2018-03-02 -0.077891  0.920499  0.257005 -0.993725
2018-03-03 -0.254549  0.897376  2.175093 -0.106682
2018-03-04  1.404089 -0.102145  1.343167 -1.968997

In [23]:
df.index

DatetimeIndex(['2018-02-27', '2018-02-28', '2018-03-01', '2018-03-02',
               '2018-03-03', '2018-03-04'],
              dtype='datetime64[ns]', freq='D')

In [24]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [26]:
df.to_numpy()

array([[-0.13269013, -0.19866576,  0.14877856, -0.51713728],
       [-0.53389805,  0.84198638, -0.72610477,  0.11103465],
       [-1.27461622,  1.51255037, -1.19958016,  0.14399419],
       [-0.07789077,  0.92049904,  0.25700511, -0.99372526],
       [-0.25454935,  0.89737593,  2.17509266, -0.10668241],
       [ 1.40408937, -0.1021453 ,  1.34316662, -1.96899712]])

In [27]:
df2.to_numpy()

array([[1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2013-01-02 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [28]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.144926  0.645267  0.333060 -0.555252
std    0.876768  0.663481  1.258885  0.815657
min   -1.274616 -0.198666 -1.199580 -1.968997
25%   -0.464061  0.133888 -0.507384 -0.874578
50%   -0.193620  0.869681  0.202892 -0.311910
75%   -0.091591  0.914718  1.071626  0.056605
max    1.404089  1.512550  2.175093  0.143994

In [29]:
df.T

   2018-02-27  2018-02-28  2018-03-01  2018-03-02  2018-03-03  2018-03-04
A   -0.132690   -0.533898   -1.274616   -0.077891   -0.254549    1.404089
B   -0.198666    0.841986    1.512550    0.920499    0.897376   -0.102145
C    0.148779   -0.726105   -1.199580    0.257005    2.175093    1.343167
D   -0.517137    0.111035    0.143994   -0.993725   -0.106682   -1.968997

In [30]:
df['A']

2018-02-27   -0.132690
2018-02-28   -0.533898
2018-03-01   -1.274616
2018-03-02   -0.077891
2018-03-03   -0.254549
2018-03-04    1.404089
Freq: D, Name: A, dtype: float64

In [34]:
df[0:3]

                   A         B         C         D
2018-02-27 -0.132690 -0.198666  0.148779 -0.517137
2018-02-28 -0.533898  0.841986 -0.726105  0.111035
2018-03-01 -1.274616  1.512550 -1.199580  0.143994

In [36]:
df

                   A         B         C         D
2018-02-27 -0.132690 -0.198666  0.148779 -0.517137
2018-02-28 -0.533898  0.841986 -0.726105  0.111035
2018-03-01 -1.274616  1.512550 -1.199580  0.143994
2018-03-02 -0.077891  0.920499  0.257005 -0.993725
2018-03-03 -0.254549  0.897376  2.175093 -0.106682
2018-03-04  1.404089 -0.102145  1.343167 -1.968997

In [37]:
df.loc[dates[0]]

A   -0.132690
B   -0.198666
C    0.148779
D   -0.517137
Name: 2018-02-27 00:00:00, dtype: float64

loc 通过标签获取数据  
iloc 通过下标获取数据  
at 快速访问标量，按标签访问  
iat 快速访问标量，按下标访问

In [45]:
df.loc[dates[0], 'A']
df.loc[:, ['A','B']]
df.at[dates[0], 'A']

-0.1326901291752416

In [47]:
df.iloc[3]

A   -0.077891
B    0.920499
C    0.257005
D   -0.993725
Name: 2018-03-02 00:00:00, dtype: float64

In [49]:
df.iloc[3:5, 0:2]

                   A         B
2018-03-02 -0.077891  0.920499
2018-03-03 -0.254549  0.897376

In [50]:
df.iloc[[1,3,4], [0,2]]

                   A         C
2018-02-28 -0.533898 -0.726105
2018-03-02 -0.077891  0.257005
2018-03-03 -0.254549  2.175093

In [53]:
df.iloc[1:3, :]

                   A         B         C         D
2018-02-28 -0.533898  0.841986 -0.726105  0.111035
2018-03-01 -1.274616  1.512550 -1.199580  0.143994

In [55]:
df.iloc[:, 1:3]

                   B         C
2018-02-27 -0.198666  0.148779
2018-02-28  0.841986 -0.726105
2018-03-01  1.512550 -1.199580
2018-03-02  0.920499  0.257005
2018-03-03  0.897376  2.175093
2018-03-04 -0.102145  1.343167

In [58]:
df.iloc[1,1]

0.8419863800572258

In [60]:
df[df.A > 0]
df[df > 0]

                   A         B         C         D
2018-02-27       NaN       NaN  0.148779       NaN
2018-02-28       NaN  0.841986       NaN  0.111035
2018-03-01       NaN  1.512550       NaN  0.143994
2018-03-02       NaN  0.920499  0.257005       NaN
2018-03-03       NaN  0.897376  2.175093       NaN
2018-03-04  1.404089       NaN  1.343167       NaN

In [61]:
pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20130102', periods=6))

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [65]:
df.at[dates[0], 'A'] = 0
df.iat[0, 1] = 0
df.loc[:, 'D'] = np.array([5] * len(df))
df

                   A         B         C  D
2018-02-27  0.000000  0.000000  0.148779  5
2018-02-28 -0.533898  0.841986 -0.726105  5
2018-03-01 -1.274616  1.512550 -1.199580  5
2018-03-02 -0.077891  0.920499  0.257005  5
2018-03-03 -0.254549  0.897376  2.175093  5
2018-03-04  1.404089 -0.102145  1.343167  5

In [68]:
df2 = df.copy()
df2[df > 0] = -df2
df2

                   A         B         C  D
2018-02-27  0.000000  0.000000 -0.148779 -5
2018-02-28 -0.533898 -0.841986 -0.726105 -5
2018-03-01 -1.274616 -1.512550 -1.199580 -5
2018-03-02 -0.077891 -0.920499 -0.257005 -5
2018-03-03 -0.254549 -0.897376 -2.175093 -5
2018-03-04 -1.404089 -0.102145 -1.343167 -5

In [70]:
df.mean(1)

2018-02-27    1.287195
2018-02-28    1.145496
2018-03-01    1.009588
2018-03-02    1.524903
2018-03-03    1.954480
2018-03-04    1.911278
Freq: D, dtype: float64

In [7]:
df = pd.DataFrame(np.random.randn(10,4))
df

          0         1         2         3
0  0.659323  1.863036 -1.862321 -0.852250
1 -1.086309 -1.539613  1.469842  1.026314
2  0.266006  1.307705 -0.295840 -1.549553
3 -0.218823  0.633846 -0.918497  0.314779
4 -0.707452  1.705494 -1.542939 -0.049955
5  1.539236  0.087885  1.763523  0.515745
6 -0.974021 -2.868479 -1.439508  1.470024
7 -0.003381 -0.986274  0.240697  0.719508
8  2.621907 -0.696096 -1.882896  0.731006
9  0.970781 -0.025956  1.563604  0.380356

In [9]:
pieces = [df[:3], df[3:7], df[7:]]
pd.concat(pieces)

          0         1         2         3
0  0.659323  1.863036 -1.862321 -0.852250
1 -1.086309 -1.539613  1.469842  1.026314
2  0.266006  1.307705 -0.295840 -1.549553
3 -0.218823  0.633846 -0.918497  0.314779
4 -0.707452  1.705494 -1.542939 -0.049955
5  1.539236  0.087885  1.763523  0.515745
6 -0.974021 -2.868479 -1.439508  1.470024
7 -0.003381 -0.986274  0.240697  0.719508
8  2.621907 -0.696096 -1.882896  0.731006
9  0.970781 -0.025956  1.563604  0.380356

In [10]:
left = pd.DataFrame({'key': ['foo', 'foo'], 'lval': [1, 2]})
right = pd.DataFrame({'key': ['foo', 'foo'], 'rval': [4, 5]})
left

   key  lval
0  foo     1
1  foo     2

In [14]:
df = pd.DataFrame(np.random.randn(8, 4), columns=['A', 'B', 'C', 'D'])
s = df.iloc[3]
df.append(s, ignore_index=True)

          A         B         C         D
0 -0.178854 -1.454547  1.553238  0.408014
1 -0.194286  0.125319 -0.481023 -1.579671
2 -0.742870  0.143263 -0.232664 -0.142620
3  1.207921 -1.437062  0.346859 -1.201252
4 -0.431402  0.686570  0.773816 -0.805308
5  0.596808 -0.969573 -2.734879  0.063364
6 -0.726516 -2.357600  0.140053  1.044385
7  0.156415  1.362213 -0.676063 -1.018014
8  1.207921 -1.437062  0.346859 -1.201252

In [20]:
df = pd.DataFrame({'A': ['foo', 'bar', 'foo', 'bar',
                            'foo', 'bar', 'foo', 'foo'],
                    'B': ['one', 'one', 'two', 'three',
                            'two', 'two', 'one', 'three'],
                    'C': np.random.randn(8),
                    'D': np.random.randn(8)})
df

     A      B         C         D
0  foo    one  0.408042  0.157784
1  bar    one  0.149643 -0.946048
2  foo    two -1.893943  0.567011
3  bar  three  0.739249 -1.318401
4  foo    two -1.018874  1.972817
5  bar    two -0.434529  0.856417
6  foo    one -0.899573  1.371724
7  foo  three  0.474170  0.777023

In [21]:
df.groupby('A').sum()

            C         D
A
bar  0.454363 -1.408032
foo -2.930178  4.846359

In [22]:
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                        'foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two',
                        'one', 'two', 'one', 'two']]))
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [25]:
index = pd.MultiIndex.from_tuples(tuples, names=['first', 'second'])
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])
df

                     A         B
first second
bar   one     0.627387  0.394878
      two    -0.731226 -1.844609
baz   one     0.537800  0.994796
      two    -0.604727 -0.500192
foo   one     0.092361 -0.941229
      two     0.774733 -0.491640
qux   one    -0.516123  0.736148
      two    -0.168111  0.090278

In [27]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
# ts = ts.cumsum()
ts.plot()

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.