In [1]:
import numpy as np
import pandas as pd

In [3]:
data = {"grammer":["Python","C","Java","GO",np.nan,"SQL","PHP","Python"],
       "score":[1,2,np.nan,4,5,6,7,10]}
       
df = pd.DataFrame(data)
df

  grammer  score
0  Python    1.0
1       C    2.0
2    Java    NaN
3      GO    4.0
4     NaN    5.0
5     SQL    6.0
6     PHP    7.0
7  Python   10.0

In [5]:
df[df['grammer'] == 'Python']
results = df['grammer'].str.contains('Python')
results.fillna(value=False, inplace=True)
df[results]

  grammer  score
0  Python    1.0
7  Python   10.0

In [6]:
df.columns

Index(['grammer', 'score'], dtype='object')

In [8]:
df.rename(columns={'score': 'popularity'}, inplace=True)
df

  grammer  popularity
0  Python         1.0
1       C         2.0
2    Java         NaN
3      GO         4.0
4     NaN         5.0
5     SQL         6.0
6     PHP         7.0
7  Python        10.0

In [9]:
df['grammer'].value_counts()

Python    2
SQL       1
PHP       1
Java      1
GO        1
C         1
Name: grammer, dtype: int64

In [10]:
df[df['popularity'] > 3]

  grammer  popularity
3      GO         4.0
4     NaN         5.0
5     SQL         6.0
6     PHP         7.0
7  Python        10.0

In [12]:
# 按照grammer列进行去除重复值
df.drop_duplicates(['grammer'])

  grammer  popularity
0  Python         1.0
1       C         2.0
2    Java         NaN
3      GO         4.0
4     NaN         5.0
5     SQL         6.0
6     PHP         7.0